#top {
  background-color: white;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 40px;
}

nav ul li {
  padding-left: 1.125em;
}


  #first-list {
    display: list-item;
    text-align: center;
  }

  #first-list {
    text-decoration: none;
    color: black;
  }

  dd > dt > dl {
    padding-left: 0;
  }

span {
  display: grid;
  grid-template-columns: auto;
}
    
* {
  box-sizing: border-box;
}

/*.button {
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 10;
}*/

/*.pics {
  column-count: 2;
}*/

.behind {
  column-count: 2;
  justify-content: space-between;
  margin: 10em;

}


